<!DOCTYPE html>
<html>
<head>
	<title>The Website for Movie Lovers</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<% sample_movie = @movie_infos.sample %>
	<% sample_rating  = sample_movie[2] %>
	<% sample_title = sample_movie[0] %>

	<h1>These are 9 items for your keyword: "<%= @keyword %>"</h1>
	<h2>Click the movie with the rating: <%= sample_rating %></h2>

	<div class="poster-container">
		<% @movie_infos.each do |item| %>
			<% if item[2] == sample_rating %>
				<% answer = "alert('CORRECT')" %>
			<% else %>
				<% answer = "alert('NOT CORRECT')" %>
			<% end %>

			<img class ="poster" src="<%= item[1] %>" onClick="<%= answer %>" >
		<% end %>
	</div>

	<p class="upsidedown"><%= sample_title %></p>
</body>
</html>